:root {
    --primary-color: #171717; 
    --accent-color: #222222;
    --border-color: #282828;
    --text-color: #e5e5e5;
    --description-color: #A8AAAD;
    --interactive-color: #FFDB58;
  }

  body {
    background-color: var(--primary-color);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  #message-handler {
    background-color: var(--accent-color);
    border: 2px solid; 
    border-color: var(--interactive-color);
    position: fixed;
    top: 70px;
    left: 390px;
    max-width: 15vw;
    padding: 8px;
    border-radius: 8px;

  }

  #message-handler.error {
    border-color: red;
  }

  #message-handler:empty {
    display: none;
  }

  .container {
    display: flex;
    min-height: 75vh;
    justify-content: center;
    align-items: center;
    gap: 76px;
  }

  .day-section, .session-section {
    position: relative;
    background-color: var(--accent-color);
    border-radius: 12px;
    padding: 50px;
    min-height: 20vh;
    min-width: 20vw;
    list-style: none;
  }

  #day-header, #session-header  {
    color: var(--interactive-color);
    font-weight: 600;
    font-size: large;
  }

  .list-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }

  label {
    display: block;
  }

  #clear-dayList-btn, #clear-logList-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .submit-day-btn, #day-select, #create-sess-btn, #sess-date, 
  .submit-date-btn, #clear-dayList-btn, #clear-logList-btn, #new-log-btn,
  #log-more-btn, #edit-log-btn, #save-edit-btn, #cancel-edit-btn, #delete-log-btn,
  #delete-session-btn, #add-logs-btn {
    background-color: var(--description-color);
    border-radius: 5px;
    padding: 5px 17px;
    border: 2px solid transparent; 
    transition: border-color 0.3s ease; 
    margin-left: 10px;
    margin-top: 10px;
  }

  #day-select, #sess-date {
    background-color: var(--description-color);
  }

  .new-weight-input, .new-reps-input,
  .updated-weight-input, .updated-reps-input {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid; 
    border-color: var(--description-color);
    transition: border-color 0.3s ease; 
   
  }

  .new-weight-input:hover, .new-reps-input:hover, .updated-weight-input:hover, .updated-reps-input:hover,
  .submit-day-btn:hover, #day-select:hover, #create-sess-btn:hover, #sess-date:hover, 
  .submit-date-btn:hover, #clear-dayList-btn:hover, #clear-logList-btn:hover,#new-log-btn:hover,
  #log-more-btn:hover, #edit-log-btn:hover, #add-logs-btn:hover, #cancel-edit-btn:hover, #delete-log-btn:hover, #delete-session-btn:hover {
    border-color: var(--interactive-color);
    background-color: white;
    cursor: pointer;
  }

  #save-edit-btn:hover {
    border-color: green;
    background-color: white;
    cursor: pointer;
  }
  #cancel-edit-btn:hover, #delete-log-btn:hover, #delete-session-btn:hover {
    border-color: red;
    
  }

  #edit-log-btn {
    background-image: url('/images/edit.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: transparent; 
    width: 40px;  
    height: 30px;  
    cursor: pointer;
  }

  #save-edit-btn {
    background-image: url('/images/save.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: transparent; 
    width: 15px;  
    height: 30px;  
    cursor: pointer;
  }

  #cancel-edit-btn {
    background-image: url('/images/cancel.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: transparent; 
    width: 40px;  
    height: 30px;  
    cursor: pointer;
  }

  #delete-log-btn {
    background-image: url('/images/delete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: transparent; 
    width: 15px;  
    height: 30px;  
    cursor: pointer;
  }

  .submit-date-btn, .submit-day-btn {
    background-image: url('/images/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: transparent; 
    width: 40px;  
    height: 30px;  
    cursor: pointer;
  }